.header-top {
  background-color: $gray;
  height: 40px;
  font-weight: 500;

  .main-sections {
    float: left;

    &__item {
      padding: 10px 20px;
      display: inline-block;
      a {
        padding: 0;
        color: #fff;
        text-transform: uppercase;
        &:hover {
          background-color: transparent;
        }
      }
      &.active {
        background-color: #fff;
        height: 40px;


        a {
          font-weight: bold;
          color: $gray;
        }
      }
    }
  }

  .common-menu {
    float: right;

    &__item {
      padding: 10px;
      display: inline-block;

      &.open {
        a {
          background-color: transparent;

          &:hover, &:focus {
            color: $green;
            background: transparent;
          }
        }
      }

      a {
        color: $light-gray;
        padding: 0;
        cursor: pointer;

        &:hover, &:focus {
          color: $green;
          background: transparent;
        }
      }
    }
    .dropdown-menu {
      li {
        padding: 10px 15px;
        a {
          color: $gray;
        }
      }
    }
  }
}

.header-middle{
  border-bottom: $gray;
  vertical-align: middle;
  padding: 22px 0;
  border-bottom: 1px solid $light-gray;

  &__logo {
    display: inline-block;
    vertical-align: middle;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
   @include screen-lg(){
     max-width: 150px;
   }

    .logo-home{
      width:19%;
      img{
        width:100%;
        display: inline-block;
      }
    }
    .logo-cozy{
      width: 78%;
      img{
        width:100%;
        display: inline-block;
      }

      @include screen-lg(){
       margin-left:8%;
      }
    }

  }

  &__search {
    vertical-align: middle;
    display: inline-block;
    max-width: 330px;
    margin-left: 5%;

    @include screen-lg(){
      max-width: 250px;
    }

    @include screen-md(){
      margin-left: 9%;
    }
    @include screen-sm(){
     max-width: 50px;
      margin:0;
      float: right;
    }
    .form-control {
      padding: 13px 17px;
      height: 40px;

      @include screen-sm(){
       display: none;
      }
    }
    .form-control:focus{
      border-color: $green;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(128, 197, 82,0.6);
    }
    .btn {
      border-left: none;
      color: $green;
      padding: 10px 15px;
      height: 40px;
      @include screen-sm(){

        border:none;
        margin-top: 5px;

        &:active,&:focus{
          box-shadow: none;
          background: transparent;
        }
      }
      &:hover {
        background-color: transparent;
        border-left: none;
      }
    }
  }

  &__contacts {
    display: inline-block;
    font-weight: 100;
    vertical-align: middle;
    margin-left: 5%;

    @include screen-md(){
      margin-left: 9%;
    }

    .number {
      font-size: 1.8rem;
      color: $dark-gray;

      &__bold {
        font-weight: 900;
      }
    }
    .call-back {
      color: $green;
      position: relative;
      font-weight: 900;
    }
    .call-hours {
      font-size: 11px;
      color: $dark-gray;
      float: right;
    }
  }

  &__shops {
    vertical-align: top;
    display: inline-block;
    color: $green;
    margin-left: 6%;
    list-style: none;
    padding: 0;
    margin-bottom: 0;

    @include screen-md(){
      display: none;
    }

    a {
      font-weight: 900;
      display: block;
      color: $green;

      &:hover {
        color: $green;
      }
    }
    .status-know{
      margin-bottom: 10px;
    }
  }

  &__favorite{
    float: right;
    display: none;
    vertical-align: middle;
    margin-top: 5px;
    a{
      display: block;
      width: 40px;
      height: 40px;
      background: url("../../img/like.png") center no-repeat;
    }
    @include screen-sm(){
      display: inline-block;
    }
  }

  &__menu{
    display: none;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    background-color: $green;
    color: #fff;
    position: relative;
    text-align: center;
    &:before{
     position: relative;
      top: 13px;
      font-size: 18px;
      display: block;
      content: '\f0c9';
      font-family: 'FontAwesome';
    }
    @include screen-sm(){
      display: inline-block;

    }


  }
  @include screen-sm(){
    padding: 0;
    border: none;

  }
}

.header-bottom {
font-size: 1.5rem;

  @include screen-lg(){
    font-size: 1.2rem;
  }


  .section-menu{
    list-style: none;
    display: inline-block;
    float: left;
    padding:20px 0;
    font-family: $font-second;

       &__item{
         display: inline-block;
         padding:0;
         font-weight: 900;

         &.open{
           a{
             background-color: transparent;
           }

           .service-dropdown{
             display: flex;
             flex-wrap: wrap;
             min-width: 600px;

             @include screen-md(){
               min-width: 400px;
             }

             &__item{
               width:50%;
               padding: 15px 30px;

               &__title{
                 display: block;
               }

               &__desc{
                 display: flex;
                 flex-wrap: wrap;
                 width:100%;
                 font-size: 1rem;
                 color: $font-gray;
                 font-family: $font-main;
                 font-weight: 400;

               }
             }
           }
         }

         a{
           color: $gray;
           padding: 0 15px;

           &:hover{
             background-color: transparent;
             color: $green;
             text-decoration: none;
           }
         }

         &:hover{


         }



         .fa-chevron-down{
           font-size: 10px;
           vertical-align: middle;
           position: relative;
           top: -2px;
         }
         &:first-child{
           padding-left: 30px;
           position: relative;


           &:before{
             content: '';
             display: block;
             position: absolute;
             left: 0;
             width: 20px;
             height: 25px;
             background: url("../../img/catalog.png") center no-repeat;
             background-size: contain;

             @include screen-md(){
              left: 5px;
               height:22px;
             }
           }
         }
       }
  }

.favorites{
  float: right;
}
}