<div class="__green">
    <div class="container">
        <div class="title hearts">
            Покупатели любят эти межкомнатные двери
            <a href="" class="title__link "></a>
        </div>
        <div class="more-information hidden-sm hidden-xs">
            Представлены в разных <span class="more-information__link __dashed" >материалах</span>
        </div>

    </div>
</div>
<div class="container">
    <div class="door-materials">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#ecoveneer">Экошпон</a></li>
            <li><a data-toggle="tab" href="#veneer">Шпон</a></li>
            <li><a data-toggle="tab" href="#pvc">ПВХ</a></li>
            <li><a data-toggle="tab" href="#laminate">Ламинат</a></li>
        </ul>

        <div class="tab-content">
            <div id="ecoveneer" class="tab-pane fade in active">
                <p>Материал представляет собой искусственное покрытие, имитирующее рисунок натуральной древесины, при
                    этом устойчивое к внешнему воздействию окружающей среды. Такие двери не боятся влаги и устойчивы к
                    перепадам температур.</p>
                <a class="__dashed" href="">Узнать больше</a>
            </div>
            <div id="veneer" class="tab-pane fade">
                <p>Some content </p>
                <a class="__dashed" href="">Узнать больше</a>
            </div>
            <div id="pvc" class="tab-pane fade">
                <p>Some content Some content Some contentSome content Some content </p>
                <a class="__dashed" href="">Узнать больше</a>
            </div>
            <div id="laminate" class="tab-pane fade">
                <p>Материал представляет собой искусственное покрытие, имитирующее рисунок натуральной древесины, при
                    этом устойчивое к</p>
                <a class="__dashed" href="">Узнать больше</a>
            </div>
        </div>
    </div>
    <div class="door-slider">

        <div class="card">
            <div class="card-inner">
                <div class="card__img"
                     style="background: url('../img/door_1.png') center no-repeat ; background-size:contain"></div>
                <div class="card__colors">
                    <div class="color"
                         style="background: url('../img/example_wood_1.jpg') center no-repeat ; background-size:cover"></div>
                    <div class="color"
                         style="background: url('../img/example_wood_2.jpg') center no-repeat ; background-size:cover"></div>
                    <div class="color"
                         style="background: url('../img/example_wood_3.jpg') center no-repeat ; background-size:cover"></div>
                    <div class="color"
                         style="background: url('../img/example_wood_4.jpg') center no-repeat ; background-size:cover"></div>
                    <a href="" class="more-colors">+5</a>
                </div>
                <div class="card__title"><a class="card__title-link" href="">Токио 16ДО7 Зеркало №2</a></div>
                <div class="card__price">
                    <div class="card__old-price">37 200 ₽</div>
                    <div class="card__current-price">от 26 040 ₽</div>
                </div>
            </div>
            <div class="hidden-block">
                <button class="acc-price btn">Узнать точную стоимость</button>
                <ul class="favorites">
                    <li class="favorites__item"><a class="favorite" href="">Избранное</a></li>
                    <li class="favorites__item"><a class="comparison" href="">Сравнение</a></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card__img"
                     style="background: url('../img/door_2.png') center no-repeat ; background-size:contain"></div>
                <div class="card__colors">
                    <div class="color"
                         style="background: url('../img/example_wood_1.jpg') center no-repeat ; background-size:cover"></div>
                    <div class="color"
                         style="background: url('../img/example_wood_2.jpg') center no-repeat ; background-size:cover"></div>
                    <div class="color"
                         style="background: url('../img/example_wood_3.jpg') center no-repeat ; background-size:cover"></div>
                    <div class="color"
                         style="background: url('../img/example_wood_4.jpg') center no-repeat ; background-size:cover"></div>
                    <a href="" class="more-colors">+5</a>
                </div>
                <div class="card__title"><a class="card__title-link" href="">Токио 16ДО7 Зеркало №2</a></div>
                <div class="card__price">
                    <div class="card__old-price">37 200 ₽</div>
                    <div class="card__current-price">от 26 040 ₽</div>
                </div>
            </div>
            <div class="hidden-block">
                <button class="acc-price btn">Узнать точную стоимость</button>
                <ul class="favorites">
                    <li class="favorites__item"><a class="favorite" href="">Избранное</a></li>
                    <li class="favorites__item"><a class="comparison" href="">Сравнение</a></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card__img"
                     style="background: url('../img/door_3.png') center no-repeat ; background-size:contain"></div>
                <div class="card__colors">
                    <div class="color"
                         style="background: url('../img/example_wood_1.jpg') center no-repeat ; background-size:cover"></div>
                    <div class="color"
                         style="background: url('../img/example_wood_2.jpg') center no-repeat ; background-size:cover"></div>
                    <div class="color"
                         style="background: url('../img/example_wood_3.jpg') center no-repeat ; background-size:cover"></div>
                    <div class="color"
                         style="background: url('../img/example_wood_4.jpg') center no-repeat ; background-size:cover"></div>
                    <a href="" class="more-colors">+5</a>
                </div>
                <div class="card__title"><a class="card__title-link" href="">Токио 16ДО7 Зеркало №2</a></div>
                <div class="card__price">
                    <div class="card__old-price">37 200 ₽</div>
                    <div class="card__current-price">от 26 040 ₽</div>
                </div>
            </div>
            <div class="hidden-block">
                <button class="acc-price btn">Узнать точную стоимость</button>
                <ul class="favorites">
                    <li class="favorites__item"><a class="favorite" href="">Избранное</a></li>
                    <li class="favorites__item"><a class="comparison" href="">Сравнение</a></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card__img"
                     style="background: url('../img/door_4.png') center no-repeat ; background-size:contain"></div>
                <div class="card__colors">
                    <div class="color"
                         style="background: url('../img/example_wood_1.jpg') center no-repeat ; background-size:cover"></div>
                    <div class="color"
                         style="background: url('../img/example_wood_2.jpg') center no-repeat ; background-size:cover"></div>
                    <div class="color"
                         style="background: url('../img/example_wood_3.jpg') center no-repeat ; background-size:cover"></div>
                    <div class="color"
                         style="background: url('../img/example_wood_4.jpg') center no-repeat ; background-size:cover"></div>
                    <a href="" class="more-colors">+5</a>
                </div>
                <div class="card__title"><a class="card__title-link" href="">Токио 16ДО7 Зеркало №2</a></div>
                <div class="card__price">
                    <div class="card__old-price">37 200 ₽</div>
                    <div class="card__current-price">от 26 040 ₽</div>
                </div>
            </div>
            <div class="hidden-block">
                <button class="acc-price btn">Узнать точную стоимость</button>
                <ul class="favorites">
                    <li class="favorites__item"><a class="favorite" href="">Избранное</a></li>
                    <li class="favorites__item"><a class="comparison" href="">Сравнение</a></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card__img"
                     style="background: url('../img/door_1.png') center no-repeat ; background-size:contain"></div>
                <div class="card__colors">
                    <div class="color"
                         style="background: url('../img/example_wood_1.jpg') center no-repeat ; background-size:cover"></div>
                    <div class="color"
                         style="background: url('../img/example_wood_2.jpg') center no-repeat ; background-size:cover"></div>
                    <div class="color"
                         style="background: url('../img/example_wood_3.jpg') center no-repeat ; background-size:cover"></div>
                    <div class="color"
                         style="background: url('../img/example_wood_4.jpg') center no-repeat ; background-size:cover"></div>
                    <a href="" class="more-colors">+5</a>
                </div>
                <div class="card__title"><a class="card__title-link" href="">Токио 16ДО7 Зеркало №2</a></div>
                <div class="card__price">
                    <div class="card__old-price">37 200 ₽</div>
                    <div class="card__current-price">от 26 040 ₽</div>
                </div>
            </div>
            <div class="hidden-block">
                <button class="acc-price btn">Узнать точную стоимость</button>
                <ul class="favorites">
                    <li class="favorites__item"><a class="favorite" href="">Избранное</a></li>
                    <li class="favorites__item"><a class="comparison" href="">Сравнение</a></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card__img"
                     style="background: url('../img/door_2.png') center no-repeat ; background-size:contain"></div>
                <div class="card__colors">
                    <div class="color"
                         style="background: url('../img/example_wood_1.jpg') center no-repeat ; background-size:cover"></div>
                    <div class="color"
                         style="background: url('../img/example_wood_2.jpg') center no-repeat ; background-size:cover"></div>
                    <div class="color"
                         style="background: url('../img/example_wood_3.jpg') center no-repeat ; background-size:cover"></div>
                    <div class="color"
                         style="background: url('../img/example_wood_4.jpg') center no-repeat ; background-size:cover"></div>
                    <a href="" class="more-colors">+5</a>
                </div>
                <div class="card__title"><a class="card__title-link" href="">Токио 16ДО7 Зеркало №2</a></div>
                <div class="card__price">
                    <div class="card__old-price">37 200 ₽</div>
                    <div class="card__current-price">от 26 040 ₽</div>
                </div>
            </div>
            <div class="hidden-block">
                <button class="acc-price btn">Узнать точную стоимость</button>
                <ul class="favorites">
                    <li class="favorites__item"><a class="favorite" href="">Избранное</a></li>
                    <li class="favorites__item"><a class="comparison" href="">Сравнение</a></li>
                </ul>
            </div>
        </div>
            <button class="btn visible-xs view-all">Посмотреть все двери в каталоге</button>
        </div>
    </div>
