<div class="__green">
    <div class="container">
        <div class="title">
            Покупатели любят эти межкомнатные двери
            <a href="" class="title__link"></a>
        </div>
        <div class="more-information">
            Представлены в разных <a class="more-information__link __dashed" href="#">материалах</a>
        </div>
        <div class="hearts">

        </div>
    </div>
</div>
<div class="container">
    <div class="door-materials">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#ecoveneer">Экошпон</a></li>
            <li><a data-toggle="tab" href="#veneer">Шпон</a></li>
            <li><a data-toggle="tab" href="#pvc">ПВХ</a></li>
            <li><a data-toggle="tab" href="#laminate">Ламинат</a></li>
        </ul>

        <div class="tab-content">
            <div id="ecoveneer" class="tab-pane fade in active">
               <p>Материал представляет собой искусственное покрытие, имитирующее рисунок натуральной древесины, при этом устойчивое к внешнему воздействию окружающей среды. Такие двери не боятся влаги и устойчивы к перепадам температур.</p>
            </div>
            <div id="veneer" class="tab-pane fade">
               <p>Some content </p>
            </div>
            <div id="pvc" class="tab-pane fade">
                <p>Some content Some content Some contentSome content Some content </p>
            </div>
            <div id="laminate" class="tab-pane fade">
                <p>Материал представляет собой искусственное покрытие, имитирующее рисунок натуральной древесины, при этом устойчивое к</p>
            </div>
        </div>
    </div>
    <div class="door-slider">

    </div>
</div>