<div class="container">
    <section class="main-slider">
        <div class="slider slick">
            <div  class="slider__item" data-thumb="искренний сервис">
                <img class="slider__image"  src="../img/first-banner.jpg" alt="">
                <div class="slider__text">
                    <div class="slider__text-huge">
                        Выберите <a href="">межкомнатные двери</a> в свой уютный мир
                    </div>
                    <div class="slider__text-small">
                        А мы позаботимся о вашем спокойствии, предоставив <a href="">искренний сервис</a>
                    </div>
                </div>
            </div>
            <div class="slider__item" data-thumb="бесплатный замер">
                <img class="slider__image" src="../img/first-banner.jpg" alt="">
                <div class="slider__text">
                    <div class="slider__text-huge">
                        А здесь про  <a href="">замер</a>
                    </div>
                    <div class="slider__text-small">
                        А мы позаботимся о вашем спокойствии, предоставив <a href="">искренний сервис</a>
                    </div>
                </div>
            </div>
            <div class="slider__item" data-thumb="Договор на дому">
                <img class="slider__image" src="../img/first-banner.jpg" alt="">
                <div class="slider__text">
                    <div class="slider__text-huge">
                       Пример текста про  <a href="">договор</a> на дому
                    </div>
                    <div class="slider__text-small">
                        А мы позаботимся о вашем спокойствии, предоставив <a href="">искренний сервис</a>
                    </div>
                </div>
            </div>
            <div class="slider__item" data-thumb="Бесплатная доставка">
                <img class="slider__image" src="../img/first-banner.jpg" alt="">
                <div class="slider__text">

                </div>
            </div>
            <div class="slider__item" data-thumb="Быстрая установка">
                <img class="slider__image" src="../img/first-banner.jpg" alt="">
                <div class="slider__text">

                </div>
            </div>
            <div class="slider__item" data-thumb="Гарантия два года">
                <img class="slider__image" src="../img/first-banner.jpg" alt="">
                <div class="slider__text">

                </div>
            </div>
        </div>
    </section>
</div>