html {
	font-size: 13px;
}
.container{
	position: relative;
}
body {
	font-size: 1rem;
	font-family: $font-main
}

input {
	-webkit-appearance: none;
	border-radius: 0;
}

a{
	&:hover{
		text-decoration: none;
	}
}
textarea {
	resize: none;
}

::selection {
	background-color: initial;
}
.btn{
	outline: none;
	&:focus,&:active,&:hover{
		outline: none !important;

	}
}
.__green{
	background: $green;
}

.__lilac{
	background: $lilac;
}

.title{
	font-size: 2.7rem;
	font-weight: 300;
	padding-top: 45px;
	//font-family: $font-second;
	color: #fff;

	a{
		display: inline-block;
		position: relative;
		width:40px;
		vertical-align: middle;
		height: 40px;
		border-radius: 50%;
		border: solid 1px #fff;

	}

}
.more-information{
	font-size: 1.3rem;
	display: inline-block;
	color: $dark-gray;
	margin-bottom:50px;
	font-weight: 300;

	&__link{
		color: #fff;
		display: inline-block;
		position: relative;
		margin-right: 15px;

		&:after{
			content:'\f107';
			font-family: 'FontAwesome';
			position: absolute;
			right: -15px;
			transition: transform linear 0.3s;
		}
		&:hover,&:visited,&:focus{
			color: #fff;
			text-decoration: none;
		}

		&.open{
			&:after{
				transform: rotate(-180deg);
			}
		}
	}

}

.__dashed{
	&:before{
		content: '';
		display: block;
		position: absolute;
		width:100%;
		bottom: 2px;
		border-bottom:dashed 1px transparent;
		border-color: inherit;
	}

	&:hover{
		&:before{
			display: none;
		}
	}
}


@include screen-xs(){
	.container{
		padding:0;
	}
}