$color-main: initial;

$green: #80c552;
$gray: #7f7f7f;
$light-gray: #dedede;
$dark-gray: #666666;
$yellow: #ffbd4d;
$lilac: #bea3cc;

$point-xs: 480px;
$point-sm: 768px;
$point-md: 992px;
$point-lg: 1200px;

$font-main: 'Roboto', 'Arial', sans-serif;
$font-second: 'Raleway', sans-serif;


$duration: .3s;

$path: '../';

%clear {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

@mixin screen-xs($direct: 'min') {
	@media (if($direct == 'max', 'max-width: #{$point-xs} - 1', 'min-width: #{$point-xs}')) {
		@content;
	}
}
@mixin screen-sm($direct: 'min') {
	@media (if($direct == 'max', 'max-width: #{$point-sm} - 1', 'min-width: #{$point-sm}')) {
		@content;
	}
}
@mixin screen-md($direct: 'min') {
	@media (if($direct == 'max', 'max-width: #{$point-md} - 1', 'min-width: #{$point-md}')) {
		@content;
	}
}
@mixin screen-lg($direct: 'min') {
	@media (if($direct == 'max', 'max-width: #{$point-lg} - 1', 'min-width: #{$point-lg}')) {
		@content;
	}
}

// Подключение изображений для ретины
@mixin bgi-retina($file, $type: 'png', $width: 100%, $height: $width) {
	background-image: url($file + '.' + $type);

	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-resolution: 144dpi) {
		background-image: url($file + '@2x.' + $type);

		@if $width == cover or $width == contain {
			$height: null;
		}

		background-size: $width $height;
	}
}